USE [master]
GO
/****** Object:  Database [MasterPol]    Script Date: 20.05.2025 11:40:35 ******/
CREATE DATABASE [MasterPol]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MasterPol', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MasterPol.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MasterPol_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MasterPol_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MasterPol].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MasterPol]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 20.05.2025 11:40:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[IdTypePartners] [int] IDENTITY(1,1) NOT NULL,
	[NameTypePartnersId] [int] NULL,
	[NamePartners] [nvarchar](255) NULL,
	[Director] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Phone] [float] NULL,
	[Address] [nvarchar](255) NULL,
	[INN] [float] NULL,
	[Raiting] [float] NULL,
 CONSTRAINT [PK_Partners] PRIMARY KEY CLUSTERED 
(
	[IdTypePartners] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnersProducts]    Script Date: 20.05.2025 11:40:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnersProducts](
	[IdPartnersProducts] [int] IDENTITY(1,1) NOT NULL,
	[NameProductsId] [int] NOT NULL,
	[NamePartnersId] [int] NOT NULL,
	[KolvoProducts] [float] NULL,
	[DateProdaji] [datetime] NULL,
 CONSTRAINT [PK_PartnersProducts] PRIMARY KEY CLUSTERED 
(
	[IdPartnersProducts] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 20.05.2025 11:40:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[IdProducts] [int] IDENTITY(1,1) NOT NULL,
	[NameTypeProductsId] [int] NULL,
	[NameProducts] [nvarchar](255) NULL,
	[Articule] [float] NULL,
	[MinPriceForPartner] [float] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[IdProducts] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductsType]    Script Date: 20.05.2025 11:40:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsType](
	[IdProducsType] [int] IDENTITY(1,1) NOT NULL,
	[NameTypeProducts] [nvarchar](255) NULL,
	[KoeffTypeProd] [float] NULL,
 CONSTRAINT [PK_ProductsType] PRIMARY KEY CLUSTERED 
(
	[IdProducsType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeMaterial]    Script Date: 20.05.2025 11:40:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeMaterial](
	[IdTypeMaterial] [int] IDENTITY(1,1) NOT NULL,
	[NameTypeMaterial] [nvarchar](255) NULL,
	[ProcentBrakaMateriala] [float] NULL,
 CONSTRAINT [PK_TypeMaterial] PRIMARY KEY CLUSTERED 
(
	[IdTypeMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypePartners]    Script Date: 20.05.2025 11:40:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypePartners](
	[IdTypePartners] [int] IDENTITY(1,1) NOT NULL,
	[NameTypePartners] [nvarchar](255) NULL,
 CONSTRAINT [PK_TypePartners] PRIMARY KEY CLUSTERED 
(
	[IdTypePartners] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [FK_Partners_TypePartners] FOREIGN KEY([NameTypePartnersId])
REFERENCES [dbo].[TypePartners] ([IdTypePartners])
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [FK_Partners_TypePartners]
GO
ALTER TABLE [dbo].[PartnersProducts]  WITH CHECK ADD  CONSTRAINT [FK_PartnersProducts_Partners] FOREIGN KEY([NamePartnersId])
REFERENCES [dbo].[Partners] ([IdTypePartners])
GO
ALTER TABLE [dbo].[PartnersProducts] CHECK CONSTRAINT [FK_PartnersProducts_Partners]
GO
ALTER TABLE [dbo].[PartnersProducts]  WITH CHECK ADD  CONSTRAINT [FK_PartnersProducts_Products] FOREIGN KEY([NameProductsId])
REFERENCES [dbo].[Products] ([IdProducts])
GO
ALTER TABLE [dbo].[PartnersProducts] CHECK CONSTRAINT [FK_PartnersProducts_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductsType] FOREIGN KEY([NameTypeProductsId])
REFERENCES [dbo].[ProductsType] ([IdProducsType])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductsType]
GO
USE [master]
GO
